{% extends 'base.html' %}

{% block content %}

<h1>Orders</h1>

<table border="1">
    <tr>
        <th>Sales Order Number</th>
        <th>Sold To Name</th>
        <th>Ship To Name</th>
        <th>Production Block</th>
        <th>Block Type</th>
        <th>DCO</th>
        <th>Actions</th>
    </tr>

    {% for order in orders %}
    <tr>
        <td><a href="/order/{{ order.id }}/">{{ order.sales_order_number }}</a></td>
        <td>{{ order.sold_to_name }}</td>
        <td>{{ order.ship_to_name }}</td>
        <td>{{ order.production_block }}</td>
        <td>{{ order.block_type }}</td>
        <td>{{ order.document_cutoff_date|date:"n/j/Y"|default_if_none:"" }}</td>
        <td>
            <a href="/edit/{{ order.id }}/">Edit</a>
            <a href="/delete/{{ order.id }}/">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}